<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981273099181-gc9hst4fv7sqbchj5f171qj7o270a5q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981273099181-gc9hst4fv7sqbchj5f171qj7o270a5q0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981273099181-m503nejvbah23p1tmpcakl4qtdr93ggk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzuczHQ-gBv_yjaxccNPrtfJb3UDTHzxM</string>
	<key>GCM_SENDER_ID</key>
	<string>981273099181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-app-391115</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-app-391115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981273099181:ios:20cf537e3b6a9066787f24</string>
</dict>
</plist>